body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    width: 140px;
    height: auto;
}

.cart-icon img {
    width: 40px;
    height: auto;
    padding: 0;
    padding-right: 140px;
    margin: 0;
}

.logo-container h1,
.menu ul li a,
.cart-icon img {
    font-size: 1rem;
    font-weight: normal;
    color: #333;
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    padding: 0 1rem;
}

nav.menu {
    background-color: #ffffff;
    padding: 0.5rem 0;
}

nav.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav.menu ul li a {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

nav.menu ul li a:hover {
    color: #c7a17a;
    background-color: #ffffff;
}

ul.submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
}

ul.submenu li a {
    padding: 0.5rem 1rem;
    color: #333;
}

.slideshow {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    padding: 15px 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    display: block; 
    border-radius: 4px;
    font-size: 1rem;
}

.button:hover {
    background-color: #333;
    color: #fff;
}

.popular-section-h2 {
    font-size: 2em;
    font-weight: bold;
    padding-left: 30px;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}

.popular-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.card {
    width: calc(16% - 10px);
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    padding: 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    text-align: left;
    text-decoration: none;
    padding: 0 15px;
}

.container h4 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #333;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.container p {
    font-size: 0.9em;
    text-align: left;
    color: #666;
    margin-top: 0.5rem;
    text-decoration: none;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.container h4:hover, .container p:hover, .card-link:hover {
    color: #c7a17a;
}

.contact-form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: #292929;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    font-family: 'Roboto', sans-serif;
}

.contact-form h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact-form .form-group {
    margin-bottom: 2rem;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="tel"],
.contact-form .form-group input[type="email"],
.contact-form .form-group textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #ccc;
    background: #222;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form .form-group textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button[type="submit"] {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background: #333;
    color: #fff;
}

footer {
    background-color: #292929;
    color: #f2f2f2;
    padding: 60px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1em;
}

.footer-column {
    flex: 1 1 200px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: auto;
}

.footer-column a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #c7a17a;
}

@media (max-width: 768px) {
    .top-bar {
        padding: 1rem 2%;
    }
    .logo-container img {
        width: 120px;
    }
    .menu ul {
        display: none;
    }
    .menu-icons {
        display: flex;
    }
    nav.menu ul {
        flex-direction: column;
        background-color: #292929;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem 0;
        overflow-y: auto;
    }
    nav.menu ul li {
        text-align: center;
        border-bottom: 1px solid #555;
    }
    ul.submenu {
        background-color: #333;
    }
    .cart-icon img {
        padding-right: 20px;
    }
    .card {
        width: calc(50% - 10px);
    }
    .container {
        padding: 0 10px;
    }
    .card-title {
        font-size: 1.2em;
    }
    .card-description {
        font-size: 0.8em;
        margin: 0;
    }
    .contact-form {
        max-width: 100%;
        padding: 1rem;
    }
    .contact-form h2 {
        font-size: 1.5rem;
    }
    .contact-form .form-group {
        margin-bottom: 1rem;
    }
    .contact-form button[type="submit"] {
        margin-top: 1rem;
    }
    footer {
        padding: 40px 2%;
    }
}

.info {
    padding-top: 80px;
    padding-left: 30px;
}

.location {
    padding: 20px;
}

.location iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-top: 20px;
}

.space {
    padding-top: 60px;
}

.card-details {
    text-align: center;
}

.card-title {
    margin-bottom: 10px;
}

.card-description {
    text-align: center;
    margin: 0 20px;
}

.card:hover .card-description {
    color: #333;
}

.order-form {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.order-form input[type="text"],
.order-form textarea,
.order-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.order-form button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    display: block;
    margin-top: 20px;
    font-size: 1rem;
}

.order-form button:hover {
    background: #333;
}
